<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="D:\Logs\nlog-internal.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- LOG 文字檔的格式 -->
	<variable name="Layout" value="${longdate} [${level}] ${logger}  ${message} ${onexception:${newline}${exception:format=tostring}}"/>
	<variable name="Layout_Test" value="[${longdate}] ${message}"/>

	<!-- the targets to write to -->
	<targets>
		<!-- 目標1.文字檔：預設 D:\Logs\TaifexBMS 資料夾底下，最多保留7天 -->
		<target name="TimeBasedFileArchival" xsi:type="File"
			layout="${Layout}"
			fileName="C:\Logs\TaifexSIX\TTB.txt"
			archiveFileName="C:\Logs\TaifexSIX\TTB.${shortdate}.txt"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="7"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="UTF-8" />
		<!-- 目標2.資料庫： -->
		<target xsi:type="RichTextBox" name="richTextBox"
			layout="${Layout}"
			autoScroll="true"
			maxLines="1000"
			formName="MainForm"
			controlName="richTextBox1"
			useDefaultRowColoringRules="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="TimeBasedFileArchival" />
		<logger name="*" minlevel="Trace" writeTo="richTextBox" />
		<!-- 設定MAIL 要收的資訊等級，建議設定 ERROR 才通知 -->
		<!--<logger name="*" minlevel="Error" writeTo="EMailNotify" />-->
	</rules>
</nlog>